<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServiceMonitor</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.yisquare.servlet.Log4jListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>JudgeRole</display-name>
    <servlet-name>JudgeRole</servlet-name>
    <servlet-class>com.yisquare.servlet.JudgeRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JudgeRole</servlet-name>
    <url-pattern>/JudgeRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LinkTest</display-name>
    <servlet-name>LinkTest</servlet-name>
    <servlet-class>com.yisquare.servlet.LinkTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinkTest</servlet-name>
    <url-pattern>/LinkTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryServiceTransaction</display-name>
    <servlet-name>QueryServiceTransaction</servlet-name>
    <servlet-class>com.yisquare.servlet.QueryServiceTransaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServiceTransaction</servlet-name>
    <url-pattern>/QueryServiceTransaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryService</display-name>
    <servlet-name>QueryService</servlet-name>
    <servlet-class>com.yisquare.servlet.QueryServiceDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryService</servlet-name>
    <url-pattern>/QueryService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryEmailRouter</display-name>
    <servlet-name>QueryEmailRouter</servlet-name>
    <servlet-class>com.yisquare.servlet.QueryEmailRouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryEmailRouter</servlet-name>
    <url-pattern>/QueryEmailRouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertEmailRouter</display-name>
    <servlet-name>InsertEmailRouter</servlet-name>
    <servlet-class>com.yisquare.servlet.InsertEmailRouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertEmailRouter</servlet-name>
    <url-pattern>/InsertEmailRouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryScheBatch</display-name>
    <servlet-name>QueryScheBatch</servlet-name>
    <servlet-class>com.yisquare.servlet.QueryScheBatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryScheBatch</servlet-name>
    <url-pattern>/QueryScheBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertRule</display-name>
    <servlet-name>InsertRule</servlet-name>
    <servlet-class>com.yisquare.servlet.InsertRule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertRule</servlet-name>
    <url-pattern>/InsertRule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllRules</display-name>
    <servlet-name>QueryAllRules</servlet-name>
    <servlet-class>com.yisquare.servlet.QueryAllRules</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllRules</servlet-name>
    <url-pattern>/QueryAllRules</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertScheBatch</display-name>
    <servlet-name>InsertScheBatch</servlet-name>
    <servlet-class>com.yisquare.servlet.InsertScheBatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertScheBatch</servlet-name>
    <url-pattern>/InsertScheBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRule</display-name>
    <servlet-name>UpdateRule</servlet-name>
    <servlet-class>com.yisquare.servlet.UpdateRule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRule</servlet-name>
    <url-pattern>/UpdateRule</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>DeleteRule</display-name>
    <servlet-name>DeleteRule</servlet-name>
    <servlet-class>com.yisquare.servlet.DeleteRule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRule</servlet-name>
    <url-pattern>/DeleteRule</url-pattern>
  </servlet-mapping>
  <security-constraint>
             <display-name>SecurityConstraint</display-name>
         <web-resource-collection>
                  <web-resource-name>batchviewer</web-resource-name>
                 <url-pattern>/JudgeRole</url-pattern>
         </web-resource-collection>
            <auth-constraint>
                  <role-name>MonitorRole</role-name>
            </auth-constraint>
            <user-data-constraint>
                <transport-guarantee>NONE</transport-guarantee>
            </user-data-constraint>
       </security-constraint>
</web-app>