<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>APIPlatform</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.yisquare.servlet.Log4jListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>testServlet</display-name>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>com.yisquare.servlet.testServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testFile</display-name>
    <servlet-name>testFile</servlet-name>
    <servlet-class>com.yisquare.servlet.testFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testFile</servlet-name>
    <url-pattern>/testFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryApi</display-name>
    <servlet-name>QueryApi</servlet-name>
    <servlet-class>com.yisquare.servlet.QueryApi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryApi</servlet-name>
    <url-pattern>/QueryApi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryFiles</display-name>
    <servlet-name>QueryFiles</servlet-name>
    <servlet-class>com.yisquare.servlet.QueryFiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryFiles</servlet-name>
    <url-pattern>/QueryFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateApi</display-name>
    <servlet-name>UpdateApi</servlet-name>
    <servlet-class>com.yisquare.servlet.UpdateApi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateApi</servlet-name>
    <url-pattern>/UpdateApi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAPI</display-name>
    <servlet-name>CreateAPI</servlet-name>
    <servlet-class>com.yisquare.servlet.CreateAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAPI</servlet-name>
    <url-pattern>/CreateAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryLog</display-name>
    <servlet-name>QueryLog</servlet-name>
    <servlet-class>com.yisquare.servlet.QueryLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryLog</servlet-name>
    <url-pattern>/QueryLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewFiles</display-name>
    <servlet-name>AddNewFiles</servlet-name>
    <servlet-class>com.yisquare.servlet.AddNewFiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewFiles</servlet-name>
    <url-pattern>/AddNewFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryTypes</display-name>
    <servlet-name>QueryTypes</servlet-name>
    <servlet-class>com.yisquare.servlet.QueryTypes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryTypes</servlet-name>
    <url-pattern>/QueryTypes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteApi</display-name>
    <servlet-name>DeleteApi</servlet-name>
    <servlet-class>com.yisquare.servlet.DeleteApi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteApi</servlet-name>
    <url-pattern>/DeleteApi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownLoadServlet</display-name>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>com.yisquare.servlet.DownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/DownLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JudgeRole</display-name>
    <servlet-name>JudgeRole</servlet-name>
    <servlet-class>com.yisquare.servlet.JudgeRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JudgeRole</servlet-name>
    <url-pattern>/JudgeRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LinkTest</display-name>
    <servlet-name>LinkTest</servlet-name>
    <servlet-class>com.yisquare.servlet.LinkTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinkTest</servlet-name>
    <url-pattern>/LinkTest</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>QueryServiceTransaction</display-name>
    <servlet-name>QueryServiceTransaction</servlet-name>
    <servlet-class>com.yisquare.servlet.QueryServiceTransaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServiceTransaction</servlet-name>
    <url-pattern>/QueryServiceTransaction</url-pattern>
  </servlet-mapping>
</web-app>